<div class="container intro-container">
  <h3>{{ site.about_title | default: "About Me" }}
  </h3>
  <button class="no-print" onclick="hideComponent('aboutMeParent')" style="background-color: gray;">Hide/Show</button>
  <div id="aboutMeParent">
    <div class="row clearfix">
      {%- if site.about_profile_image -%}
        <div class="col-xs-12 col-sm-4 col-md-3 col-print-4">
          <!-- <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})" />
          -->
          <img class="profile-img" src="{{ site.about_profile_image | relative_url }}">
        </div>
      {%- endif -%}
      <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-8{%- endif -%}">
        {{ site.about_content | strip | markdownify }}
      </div>
    </div>
  </div>
</div>
