<div class="container academic_experience-container">
  <h3>{{ site.academic_experience_title | default: "Academic Achievements and Events" }}</h3>
  {% for academic_experience in site.data.academic_experience %}
    <div class="row clearfix academic_experience">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if academic_experience.link -%}
            <a href="http://{{ academic_experience.link }}" target="_blank">
          {%- endif -%}
            {{ academic_experience.company }}
          {%- if academic_experience.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ academic_experience.job_title }}</b></p>
        <p>{{ academic_experience.dates }}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if academic_experience.quote -%}
          <p class="quote">{{ academic_experience.quote }}</p>
        {%- endif -%}
        {{ academic_experience.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
