<div class="container footer-container">
  <p style="font-size: 12; font-weight: bold;">
    {{ site.name | escape }} -
    <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
    {%- if site.footer_show_references -%}
      &nbsp;- References on request
    {%- endif -%}
  </p>
  <p style="font-size: 10px;">
    This Page is a <a href="https://github.com/jahirmedinacs/resume">hard fork</a> of <a href="https://github.com/sproogen/modern-resume-theme/">Modern Resume Theme (MIT License)</a> power by Me</p>
</div>