<div class="container social_responsibilities-container">
  <h3>{{ site.social_responsibilities_title | default: "Social Responsibilities" }}</h3>
  {% for social_responsibilities in site.data.social_responsibilities %}
    <div class="row clearfix social_responsibilities">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if social_responsibilities.link -%}
            <a href="http://{{ social_responsibilities.link }}" target="_blank">
          {%- endif -%}
            {{ social_responsibilities.company }}
          {%- if social_responsibilities.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ social_responsibilities.job_title }}</b></p>
        <p>{{ social_responsibilities.dates }}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if social_responsibilities.quote -%}
          <p class="quote">{{ social_responsibilities.quote }}</p>
        {%- endif -%}
        {{ social_responsibilities.description | strip | markdownify }}
      </div>
    </div>
    <br />
    <br />
    <div>
    
    </div>
    
  {% endfor %}
</div>
