<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body id="htmlContent">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

<!--      {%- include about.html -%}-->

      {%- if site.data.experience.size > 0 -%}
        {%- include experience.html -%}
      {%- endif -%}

      {%- if site.data.programing_languages.size > 0 -%}
      {%- include programing_languages.html -%}
      {%- endif -%}

      {%- if site.data.projects.size > 0 -%}
      {%- include projects.html -%}
      {%- endif -%}

      {%- if site.data.education.size > 0 -%}
        {%- include education.html -%}
      {%- endif -%}

      {%- if site.data.languages.size > 0 -%}
        {%- include languages.html -%}
      {%- endif -%}

      {%- if site.data.academic_experience.size > 0 -%}
        {%- include academic_experience.html -%}
      {%- endif -%}
        
      {%- if site.data.social_responsibilities.size > 0 -%}
        {%- include social_responsibilities.html -%}
      {%- endif -%}

      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
  </main>

  {%- include footer.html -%}

  {%- include javascript.html -%}

</body>

</html>